/* 
index.css  

ABOUT: this is the style sheet for the universe a la mode choose your own adventure game 
AUTHOR: Rebecca DeMarco and Julia Worrell 
DATE: 10/2/2016 
*/ 

head {
	text-align: center;
}

body {
	text-align: center;
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 30px;
	width: 600px;
	margin: auto;
	margin-top: 15px;
	text-align: center;
	font-family: 'Space Mono', monospace;
}