/* 
index.css  

ABOUT: this is the style sheet for the universe a la mode choose your own adventure game 
AUTHOR: Rebecca DeMarco and Julia Worrell 
DATE: 10/2/2016 
*/ 

head {
	text-align: center;
	font-size: 20px; 
}

body {
	text-align: center;
	font-size: 20px; 
}

div {
	margin: auto;
	margin-top: 15px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}